@import "./scss/variables";
@import "./scss/reset";
@import "./scss/shared";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/portfolio";
@import "./scss/about";
@import "./scss/contact";
@import "./scss/footer";
