@import "variables";

.hero-split {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 600px;
  position: relative;

  .hero-frame {
    border-radius: 7px;
    position: relative;
    width: 90vw;
    max-width: 1200px;
    height: 60vh;
    max-height: 800px;
    overflow: hidden;
    margin-bottom: 10vh;

    &:hover .area-designer {
      @media (min-width: ($bp-tablet + 1px)) {
        opacity: 1;
      }
    }
  }

  .hero {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    &-title-main {
      font-weight: 400;
      font-size: 3rem;
      white-space: nowrap;
      @media (max-width: $bp-tablet) {
        font-size: 1.6rem;
      }
    }
  }

  .hero-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    transition:
      opacity $transition-slow,
      justify-content $transition-slow;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    &.area-coder {
      background-image: url("/img/bg-rechts.png");
      justify-content: flex-start;
    }

    &.area-designer {
      background-image: url("/img/bg-links.png");
      justify-content: flex-end;
      opacity: 0;
      z-index: 3;

      @media (max-width: $bp-tablet) {
        animation: hero-split-cycle 8s infinite ease-in-out;
      }
    }
  }

  .hero-content {
    background-color: $color-text-muted;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 3;
    max-width: 400px;
    padding: 20px;

    @media (max-width: $bp-tablet) {
      display: none;
    }

    .hero-title-sub {
      font-size: 2.5rem;
      white-space: nowrap;
      @media (max-width: $bp-tablet) {
        font-size: 2rem;
      }
    }

    .hero-description {
      font-size: 1.3rem;
      line-height: 1.8;
    }
  }
}

@keyframes hero-split-cycle {
  0%,
  45% {
    opacity: 0;
  }
  50%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
